*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    list-style: none;
}
.app{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.right-box{
    width: 40vw;
}
.right-box label{
    display: block;
}
.left-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 40vw;
    background: crimson;
}
.left-box p{
    background: rgb(137, 133, 133);
    color: white;
    font-size: 18px;
    padding: 5px 40px;
    border: 2px solid black;
}